<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Sneakers Store{% endblock %}</title>
  {% load static %}

  <!-- Tailwind CDN (depois pode trocar por build) -->
  <script src="https://cdn.tailwindcss.com"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-slate-50 text-slate-900 min-h-screen flex flex-col">

  <!-- HEADER -->
  <header class="bg-slate-900 text-white">
    <div class="max-w-7xl mx-auto px-4 py-4 flex items-center justify-between">
      
      <!-- Logo / Nome -->
      <h1 class="text-xl font-bold tracking-wide">
        Sneakers<span class="text-blue-500">Store</span>
      </h1>

      
<!-- Menu -->
<nav class="space-x-6 text-sm font-medium">
  <a href="{% url 'home' %}"
     class="transition
     {% if request.resolver_match.url_name == 'home' %}
        text-blue-500
     {% else %}
        hover:text-blue-400
     {% endif %}">
     Início
  </a>

  <a href="{% url 'catalogo' %}"
     class="transition
     {% if request.resolver_match.url_name == 'catalogo' %}
        text-blue-500
     {% else %}
        hover:text-blue-400
     {% endif %}">
     Tênis
  </a>

  <a href="{% url 'ofertas' %}"
     class="transition
     {% if request.resolver_match.url_name == 'ofertas' %}
        text-blue-500
     {% else %}
        hover:text-blue-400
     {% endif %}">
     Ofertas
  </a>

  <a href="https://www.instagram.com/fabianobarbosa11/"
     class="transition hover:text-blue-400" onclick="return confirm('Você será redirecionado para o Instagram.');">
     Contato
  </a>
</nav>


    </div>
  </header>

  <!-- CONTEÚDO -->
  <main class="flex-1 max-w-7xl mx-auto w-full px-4 py-8">
    {% block content %}
    <!-- Conteúdo das páginas -->
    {% endblock %}
  </main>

  <!-- FOOTER -->
  <footer class="bg-slate-900 text-slate-400">
    <div class="max-w-7xl mx-auto px-4 py-6 text-center text-sm">
      © {{ year|default:"2025" }} Vitrine de tênis v1.0 — Todos os direitos reservados.
    </div>
  </footer>

</body>
</html>
